Wallet_SFJM3LMXPWJBQYZH.zip
.env
db.sqlite3
/diagram/mermaidCode
cinedk/__pycache__/*
/apps/movie/__pycache__/*
/apps/movie/migrations/*
/apps/client/__pycache__/*
/apps/client/migrations/*
/apps/ticket/__pycache__/*
/apps/ticket/migrations/*
/apps/theater/__pycache__/*
/apps/theater/migrations/*
/apps/gender/__pycache__/*
/apps/gender/migrations/*
/apps/room/__pycache__/*
/apps/room/migrations/*
/apps/session/__pycache__/*
/apps/session/migrations/*
/apps/sessionticket/__pycache__/*
/apps/sessionticket/migrations/*