Wallet_UMMIY99KEMDSWUK3.zip
.env
db.sqlite3
/diagram/mermaidCode
cinedk/__pycache__/*
/apps/address/__pycache__/*
/apps/address/migrations/*
/apps/movie/__pycache__/*
/apps/movie/migrations/*
/apps/client/__pycache__/*
/apps/client/migrations/*
/apps/ticket/__pycache__/*
/apps/ticket/migrations/*
/apps/theater/__pycache__/*
/apps/theater/migrations/*
/apps/order/__pycache__/*
/apps/order/migrations/*